.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin-block-start: 10px;
  margin-block-end: 10px;
}

ul {
    list-style-type: none;
}

input {
    margin-bottom: .6rem;
}
 
